Node-RED flow.txt
[{"id":"73b001d4.549f5","type":"tab","label":"Future teller","disabled":true,"info":""},{"id":"bf2b7c33.a2671","type":"mqtt in","z":"73b001d4.549f5","name":"","topic":"node/future-teller:0/future/trigger","qos":"2","broker":"e649966c.8c2af8","x":270,"y":300,"wires":[["970bae8f.da896"]]},{"id":"970bae8f.da896","type":"function","z":"73b001d4.549f5","name":"8 Ball","func":"var answers = [\"Yes, probably\", \"Don't count on that\", \"Maybe\", \"Sure\"]\n\nvar num = Math.floor(Math.random() * Math.floor(answers.length));\nmsg.payload = answers[num];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["2a0adfb2.4f986","5bc2d26f.46f21c"]]},{"id":"2a0adfb2.4f986","type":"ui_audio","z":"73b001d4.549f5","name":"","group":"57ff470b.93fdf8","voice":"","always":"","x":820,"y":300,"wires":[]},{"id":"5bc2d26f.46f21c","type":"ui_text","z":"73b001d4.549f5","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"name":"","label":"Answer","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":260,"wires":[]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Default","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]